.sign-in-header {
    background-color: rgb(240, 240, 240);
    height: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
  }
  
  .sign-in-form {
    max-width: 590px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .css-xugltl-control {
    min-height: 30px !important;
    height: 30px !important;
    align-items: center !important;
  }
  
  .css-1t7a5ts-control{
    min-height: 30px !important;
    height: 30px !important;
  }
  
  .css-tlfecz-indicatorContainer{
    padding: 0 5px 0 5px !important;
  
  }
  
  .css-1gtu0rj-indicatorContainer{
    padding: 0 5px 0 5px !important;
  }
  
  .css-1okebmr-indicatorSeparator {
    margin: 5px 0 5px 0 !important;
  }

  .new-player h4{
    text-decoration: underline;
    color: dodgerblue;
    margin-top: 20px;
  }
  