body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  display: block;
}

h3 {
  margin-top:0;
  margin-bottom: 5px;
}

img {
  padding: 15px;
}

/* Sign-In */
.center {
  text-align: center;
}

.sign-in-box {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid blue;
}

.sign-in-header {
  background-color: lightgrey;
  height: 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.sign-in-form {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 200px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}