body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  display: block;
}

h3 {
  margin-top:0;
  margin-bottom: 5px;
}

img {
  padding: 15px;
}

/* Sign-In */
.center {
  text-align: center;
}

.sign-in-box {
  max-width: 450px;
  margin: 0 auto;
  border: 2px solid lightgrey;
  border-radius: 4px;
  background-color:rgb(8, 119, 211);
}

.sign-in-header {
  background-color: rgb(240, 240, 240);
  height: 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.sign-in-form {
  max-width: 590px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 20px;
  margin: 10px 0 0 0;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}


/* Nav */
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 200px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}